/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, divasfasf, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* cyrillic-ext */
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCu6KVjbNBYlgoKej75l0miFYxnu4w.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCu6KVjbNBYlgoKej7wl0miFYxnu4w.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCu6KVjbNBYlgoKej74l0miFYxnu4w.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCu6KVjbNBYlgoKej73l0miFYxnu4w.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* latin-ext */
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCu6KVjbNBYlgoKej76l0miFYxnu4w.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCu6KVjbNBYlgoKej70l0miFYxn.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCp6KVjbNBYlgoKejYHtFyCN4FNgYUJ31U.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCp6KVjbNBYlgoKejYHtFyLN4FNgYUJ31U.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCp6KVjbNBYlgoKejYHtFyDN4FNgYUJ31U.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCp6KVjbNBYlgoKejYHtFyMN4FNgYUJ31U.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* latin-ext */
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCp6KVjbNBYlgoKejYHtFyBN4FNgYUJ31U.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCp6KVjbNBYlgoKejYHtFyPN4FNgYUJ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCp6KVjbNBYlgoKejZPslyCN4FNgYUJ31U.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCp6KVjbNBYlgoKejZPslyLN4FNgYUJ31U.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCp6KVjbNBYlgoKejZPslyDN4FNgYUJ31U.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCp6KVjbNBYlgoKejZPslyMN4FNgYUJ31U.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* latin-ext */
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCp6KVjbNBYlgoKejZPslyBN4FNgYUJ31U.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCp6KVjbNBYlgoKejZPslyPN4FNgYUJ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCs6KVjbNBYlgoKcg72nU6AF7xm.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCs6KVjbNBYlgoKew72nU6AF7xm.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCs6KVjbNBYlgoKcw72nU6AF7xm.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCs6KVjbNBYlgoKfA72nU6AF7xm.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* latin-ext */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCs6KVjbNBYlgoKcQ72nU6AF7xm.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCs6KVjbNBYlgoKfw72nU6AFw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCv6KVjbNBYlgoCjC3jvWyNPYZvg7UI.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCv6KVjbNBYlgoCjC3jtGyNPYZvg7UI.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCv6KVjbNBYlgoCjC3jvGyNPYZvg7UI.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCv6KVjbNBYlgoCjC3js2yNPYZvg7UI.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* latin-ext */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCv6KVjbNBYlgoCjC3jvmyNPYZvg7UI.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCv6KVjbNBYlgoCjC3jsGyNPYZvgw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCv6KVjbNBYlgoCxCvjvWyNPYZvg7UI.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCv6KVjbNBYlgoCxCvjtGyNPYZvg7UI.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCv6KVjbNBYlgoCxCvjvGyNPYZvg7UI.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCv6KVjbNBYlgoCxCvjs2yNPYZvg7UI.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* latin-ext */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCv6KVjbNBYlgoCxCvjvmyNPYZvg7UI.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCv6KVjbNBYlgoCxCvjsGyNPYZvgw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "Lilita One";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lilitaone/v11/i7dPIFZ9Zz-WBtRtedDbYE98RXi4EwSsbg.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Lilita One";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lilitaone/v11/i7dPIFZ9Zz-WBtRtedDbYEF8RXi4EwQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body {
  padding-top: 63px;
}
body header {
  width: 100%;
  height: 63px;
  background-color: #313141;
  position: fixed;
  z-index: 2;
  top: 0;
}
body header .content {
  max-width: 1000px;
  height: 50px;
  padding-top: 13px;
  margin: auto;
  display: flex;
}
body header .content .logo {
  min-width: 130px;
  background: #fff url("../../image/ida-logo.svg") no-repeat center;
  background-size: 114px;
  border-radius: 5px 5px 0 0;
  margin-bottom: 1px;
  margin-left: 16px;
}
body header .content .menu_vertical_bar_right {
  margin-left: 140px;
}
body header .content .menu_vertical_bar_right ul {
  display: flex;
}
body header .content .menu_vertical_bar_right ul li {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding-right: 16px;
  margin-top: 10px;
  cursor: pointer;
}
body header .content .menu_vertical_bar_right ul li a {
  font-family: "Ubuntu", serif;
  font-size: 14px;
  font-weight: 700;
  white-space: nowrap;
  color: white;
  text-decoration: none;
  transition: all 0.2s ease-in;
}
body header .content .menu_vertical_bar_right ul li a.active {
  color: #77b077;
  padding-bottom: 5px;
  border-bottom: 2px solid #77b077;
}
body header .content .menu_vertical_bar_right ul li a:hover, body header .content .menu_vertical_bar_right ul li a:active {
  color: #77b077;
}
body header .content .menu_vertical_bar_right ul li a:active {
  padding-bottom: 5px;
  border-bottom: 2px solid #77b077;
}
body header .content .donate {
  min-width: 105px;
  color: #2D2378;
  background-color: #FFDE00;
  text-decoration: none;
  border-radius: 5px 5px 0px 0px;
  cursor: pointer;
  margin-left: 15px;
  font-weight: 700;
  border: none;
  transition: all 0.2s ease-in;
}
body header .content .donate:hover {
  color: #e6f3e5;
  background-color: #FFC800;
}
body header .content .search {
  min-width: 20px;
  margin-left: 15px;
  background-image: url("../../image/search.svg");
  border: none;
  background-repeat: no-repeat;
  background-size: 19px;
  background-position: center;
  background-color: inherit;
  cursor: pointer;
}
body .banner .nav1, body .banner .nav2 {
  width: 100%;
  height: 60px;
  background-color: #6BB547;
}
body .banner .nav1 {
  border-top: 0.7px solid white;
}
body .banner .nav1 ul {
  display: flex;
}
body .banner .nav1 ul li {
  list-style: none;
  display: flex;
  justify-content: space-around;
  color: #e6f3e5;
  margin: 0 auto;
}
body .banner .nav1 ul li a {
  color: #e6f3e5;
  font-size: 12px;
  font-weight: 400;
  font-family: "Ubuntu", serif;
  text-decoration: none;
  padding: 1.2rem 0rem 0.15rem 0rem;
  text-transform: uppercase;
}
body .banner .nav1 ul li a:hover {
  color: #313141;
}
body .banner .nav1 ul li a.active2 {
  color: #313141;
  border-bottom: 2px solid #313141;
}
body .banner .nav2 ul {
  display: flex;
  margin-left: 15px;
}
body .banner .nav2 ul li {
  list-style: none;
  display: flex;
  justify-content: space-around;
  color: #e6f3e5;
  margin-right: 15px;
}
body .banner .nav2 ul li a {
  color: #e6f3e5;
  text-decoration: none;
  padding: 1.2rem 0rem 0.15rem 0rem;
  font-size: 12px;
  font-weight: 400;
  font-family: "Ubuntu", serif;
  text-transform: uppercase;
}
body .banner .nav2 ul li a:hover {
  color: #313141;
}
body .banner .image_banner {
  width: 100%;
  height: 356px;
  background-color: yellow;
  background-image: url("../../image/dog_meat/dog-meat-campaign.png");
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  background-position-y: -50px;
}
body .banner .image_banner::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(rgba(180, 180, 180, 0), rgba(180, 180, 180, 0), rgba(6, 6, 14, 0.49));
}
body .banner .image_banner h1 {
  font-weight: 400;
  font-family: "Lilita One", sans-serif;
  font-size: 44px;
  color: #fff;
  margin-bottom: 0.5rem;
  line-height: 2.93rem;
  padding-left: 0.9375rem;
  position: absolute;
  bottom: 3.5rem;
  left: 50%;
  margin-left: -31.25rem;
  z-index: 1;
}
body .banner .image_banner {
  background-position-y: 0;
}
body .content_row {
  width: 1000px;
  margin: auto;
  padding: 72px 15px;
  display: flex;
}
body .content_row .boxleft {
  width: 550px;
  height: 100%;
}
body .content_row .boxleft h2 {
  font-family: "Ubuntu", serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  color: #2D2378;
  padding-bottom: 28px;
  border-bottom: 2px solid #2D2378;
  margin-top: 50px;
}
body .content_row .boxleft p {
  font-family: "Ubuntu", serif;
  font-size: 16px;
  font-weight: 400;
  color: #444;
  line-height: 24px;
  margin-top: 8px;
  margin-bottom: 16px;
}
body .content_row .boxleft ul {
  margin-left: 20px;
  margin-bottom: 16px;
}
body .content_row .boxleft ul li {
  list-style: circle;
  line-height: 25px;
}
body .content_row .boxleft ul li a {
  color: #6BB547;
  text-decoration: none;
  font-family: "Ubuntu", serif;
  font-size: 16px;
  font-weight: 700;
}
body .content_row .boxleft .more {
  padding: 10px 31px;
  border: none;
  margin: 32px 200px;
  background-color: #6AB547;
  border-radius: 5px;
  font-family: "Ubuntu", serif;
  font-size: 14px;
  font-weight: 700;
  color: white;
}
body .content_row .boxright {
  padding: 0 30px;
}
body .content_row .boxright .boxinf {
  width: 326px;
  background-color: #F5F4F9;
  margin-bottom: 20px;
  padding: 40px 30px 30px 30px;
}
body .content_row .boxright .boxinf h3 {
  font-family: "Ubuntu", serif;
  font-size: 36px;
  font-weight: 700;
  color: #2C2278;
  margin-bottom: 18px;
}
body .content_row .boxright .boxinf p {
  font-family: "Ubuntu";
  font-size: 14px;
  font-weight: 700;
  color: #2C2278;
  margin-bottom: 16px;
  line-height: 21px;
}
body .how_help {
  height: 600px;
  background-color: #F5F4F9;
  padding: 50px 197.5px;
}
body .how_help h2 {
  font-family: "Ubuntu", serif;
  font-size: 40px;
  font-weight: 700;
  color: #2C2278;
  border-bottom: 2px solid #2C2278;
  padding-bottom: 10px;
  line-height: 54px;
  margin-bottom: 44px;
}
body .how_help .content_help {
  display: flex;
  justify-content: space-between;
}
body .how_help .content_help .card {
  width: 320px;
  padding: 0 4px;
}
body .how_help .content_help .card img {
  width: 200px;
  margin: 0 60px;
  margin-bottom: 28px;
}
body .how_help .content_help .card h4 {
  font-family: "Ubuntu", serif;
  font-size: 20px;
  font-weight: 700;
  color: #2C2278;
  display: block;
  text-align: center;
  margin-bottom: 8px;
  line-height: 28px;
}
body .how_help .content_help .card p {
  text-align: center;
  font-family: "Ubuntu", serif;
  font-size: 14px;
  font-weight: 400;
  color: #2C2278;
  line-height: 21px;
  margin-bottom: 16px;
}
body .how_help .content_help .card button {
  font-family: "Ubuntu", serif;
  font-size: 14px;
  font-weight: 700;
  padding: 16px 24px;
  border-radius: 5px;
  border: none;
  background-color: #FFDE00;
  display: block;
  margin: auto;
  cursor: pointer;
}

/*# sourceMappingURL=dog_meat.css.map */
