/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, divasfasf, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* cyrillic-ext */
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCu6KVjbNBYlgoKej75l0miFYxnu4w.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCu6KVjbNBYlgoKej7wl0miFYxnu4w.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCu6KVjbNBYlgoKej74l0miFYxnu4w.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCu6KVjbNBYlgoKej73l0miFYxnu4w.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* latin-ext */
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCu6KVjbNBYlgoKej76l0miFYxnu4w.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCu6KVjbNBYlgoKej70l0miFYxn.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCp6KVjbNBYlgoKejYHtFyCN4FNgYUJ31U.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCp6KVjbNBYlgoKejYHtFyLN4FNgYUJ31U.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCp6KVjbNBYlgoKejYHtFyDN4FNgYUJ31U.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCp6KVjbNBYlgoKejYHtFyMN4FNgYUJ31U.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* latin-ext */
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCp6KVjbNBYlgoKejYHtFyBN4FNgYUJ31U.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCp6KVjbNBYlgoKejYHtFyPN4FNgYUJ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCp6KVjbNBYlgoKejZPslyCN4FNgYUJ31U.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCp6KVjbNBYlgoKejZPslyLN4FNgYUJ31U.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCp6KVjbNBYlgoKejZPslyDN4FNgYUJ31U.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCp6KVjbNBYlgoKejZPslyMN4FNgYUJ31U.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* latin-ext */
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCp6KVjbNBYlgoKejZPslyBN4FNgYUJ31U.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCp6KVjbNBYlgoKejZPslyPN4FNgYUJ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCs6KVjbNBYlgoKcg72nU6AF7xm.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCs6KVjbNBYlgoKew72nU6AF7xm.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCs6KVjbNBYlgoKcw72nU6AF7xm.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCs6KVjbNBYlgoKfA72nU6AF7xm.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* latin-ext */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCs6KVjbNBYlgoKcQ72nU6AF7xm.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCs6KVjbNBYlgoKfw72nU6AFw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCv6KVjbNBYlgoCjC3jvWyNPYZvg7UI.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCv6KVjbNBYlgoCjC3jtGyNPYZvg7UI.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCv6KVjbNBYlgoCjC3jvGyNPYZvg7UI.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCv6KVjbNBYlgoCjC3js2yNPYZvg7UI.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* latin-ext */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCv6KVjbNBYlgoCjC3jvmyNPYZvg7UI.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCv6KVjbNBYlgoCjC3jsGyNPYZvgw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCv6KVjbNBYlgoCxCvjvWyNPYZvg7UI.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCv6KVjbNBYlgoCxCvjtGyNPYZvg7UI.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCv6KVjbNBYlgoCxCvjvGyNPYZvg7UI.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCv6KVjbNBYlgoCxCvjs2yNPYZvg7UI.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* latin-ext */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCv6KVjbNBYlgoCxCvjvmyNPYZvg7UI.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCv6KVjbNBYlgoCxCvjsGyNPYZvgw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "Lilita One";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lilitaone/v11/i7dPIFZ9Zz-WBtRtedDbYE98RXi4EwSsbg.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Lilita One";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lilitaone/v11/i7dPIFZ9Zz-WBtRtedDbYEF8RXi4EwQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body {
  padding-top: 63px;
}
body .title {
  font-family: "Ubuntu", serif;
  font-size: 40px;
  font-weight: 700;
  color: #2C2278;
  border-bottom: 2px solid #2C2278;
  padding-bottom: 10px;
  line-height: 54px;
  margin-bottom: 44px;
}
body .content_help {
  display: flex;
  justify-content: space-between;
}
body .button {
  font-family: "Ubuntu", serif;
  font-size: 14px;
  font-weight: 700;
  padding: 16px 24px;
  color: #2d2378;
  border-radius: 5px;
  border: none;
  background-color: #FFDE00;
  display: block;
  margin: auto;
  cursor: pointer;
  text-transform: uppercase;
}
body .button:hover {
  background-color: #FFC800;
  color: #fff;
}
body .card {
  width: 320px;
  padding: 0 4px;
}
body .img {
  width: 200px;
  margin: 0 60px;
  margin-bottom: 28px;
}
body header {
  width: 100%;
  height: 63px;
  background-color: #313141;
  position: fixed;
  z-index: 2;
  top: 0;
}
body header .content {
  max-width: 1000px;
  height: 50px;
  padding-top: 13px;
  margin: auto;
  display: flex;
}
body header .content .logo {
  min-width: 130px;
  background: #fff url("../../image/ida-logo.svg") no-repeat center;
  background-size: 114px;
  border-radius: 5px 5px 0 0;
  margin-left: 16px;
}
body header .content .menu_vertical_bar_right {
  margin-left: 140px;
}
body header .content .menu_vertical_bar_right ul {
  display: flex;
}
body header .content .menu_vertical_bar_right ul li {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding-right: 16px;
  margin-top: 10px;
  cursor: pointer;
}
body header .content .menu_vertical_bar_right ul li a {
  font-family: "Ubuntu", serif;
  font-size: 14px;
  font-weight: 700;
  white-space: nowrap;
  color: white;
  text-decoration: none;
  transition: all 0.2s ease-in;
}
body header .content .menu_vertical_bar_right ul li a.active {
  color: #77b077;
  padding-bottom: 5px;
  border-bottom: 2px solid #77b077;
}
body header .content .menu_vertical_bar_right ul li a:hover, body header .content .menu_vertical_bar_right ul li a:active {
  color: #77b077;
}
body header .content .menu_vertical_bar_right ul li a:active {
  padding-bottom: 5px;
  border-bottom: 2px solid #77b077;
}
body header .content .donate {
  min-width: 105px;
  color: #2D2378;
  background-color: #FFDE00;
  text-decoration: none;
  border-radius: 5px 5px 0px 0px;
  cursor: pointer;
  margin-left: 15px;
  font-weight: 700;
  border: none;
  transition: all 0.2s ease-in;
}
body header .content .donate:hover {
  color: #e6f3e5;
  background-color: #FFC800;
}
body header .content .search {
  min-width: 20px;
  margin-left: 15px;
  background-image: url("../../image/search.svg");
  border: none;
  background-repeat: no-repeat;
  background-size: 19px;
  background-position: center;
  background-color: inherit;
  cursor: pointer;
}
body .banner .nav1, body .banner .nav2 {
  width: 100%;
  height: 60px;
  background-color: #6BB547;
}
body .banner .nav1 ul {
  display: flex;
}
body .banner .nav1 ul li {
  list-style: none;
  display: flex;
  justify-content: space-around;
  color: #e6f3e5;
  margin: 0 auto;
}
body .banner .nav1 ul li a {
  color: #e6f3e5;
  font-size: 12px;
  font-weight: 400;
  font-family: "Ubuntu", serif;
  text-decoration: none;
  padding: 1.2rem 0rem 0.15rem 0rem;
  text-transform: uppercase;
}
body .banner .nav1 ul li a:hover {
  color: #313141;
}
body .banner .nav1 ul li a.active2 {
  color: #313141;
  border-bottom: 2px solid #313141;
}
body .banner .nav2 ul {
  display: flex;
  margin-left: 15px;
}
body .banner .nav2 ul li {
  list-style: none;
  display: flex;
  justify-content: space-around;
  color: #e6f3e5;
  margin-right: 15px;
}
body .banner .nav2 ul li a {
  color: #e6f3e5;
  text-decoration: none;
  padding: 1.2rem 0rem 0.15rem 0rem;
  font-size: 12px;
  font-weight: 400;
  font-family: "Ubuntu", serif;
  text-transform: uppercase;
}
body .banner .nav2 ul li a:hover {
  color: #313141;
}
body .banner .image_banner {
  width: 100%;
  height: 356px;
  background-color: yellow;
  background-image: url("../../image/farmed-animal/farm.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  background-position-y: -50px;
}
body .banner .image_banner::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(rgba(180, 180, 180, 0), rgba(180, 180, 180, 0), rgba(6, 6, 14, 0.49));
}
body .banner .image_banner h1 {
  font-weight: 400;
  font-family: "Lilita One", sans-serif;
  font-size: 44px;
  color: #fff;
  margin-bottom: 0.5rem;
  line-height: 2.93rem;
  padding-left: 0.9375rem;
  position: absolute;
  bottom: 3.5rem;
  left: 50%;
  margin-left: -31.25rem;
  z-index: 1;
}
body .banner .image_banner {
  background-position-y: -286px;
}
body .page_content_text {
  width: 100%;
  padding: 75px 0;
}
body .page_content_text .text_in {
  width: 970px;
  padding: 0 15px;
  margin: auto;
}
body .page_content_text .text_in h2 {
  color: #2D2378;
  font-family: "Ubuntu", serif;
  font-weight: 700;
  font-size: 40px;
  padding-bottom: 28px;
  margin-bottom: 8px;
}
body .page_content_text .text_in p {
  font-size: 16px;
  font-weight: 400;
  font-family: "Ubuntu", serif;
  color: #444444;
  line-height: 24px;
  margin-bottom: 16px;
}
body .page_content_text {
  padding-bottom: 0;
}
body .page_content_text .text_in h4 {
  color: #2D2378;
  font-family: "Ubuntu", serif;
  font-weight: 700;
  font-size: 23px;
  padding-bottom: 28px;
  margin-bottom: 8px;
  text-align: center;
}
body .page_content_text .text_in p {
  font-weight: 700;
}
body .page_content_text .text_in h2 {
  text-align: center;
  margin-top: 56px;
  margin-bottom: 60px;
}
body .page_content_text .more_content {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
body .page_content_text .more_content .kard {
  width: 50%;
  display: flex;
  margin: 36px 0;
}
body .page_content_text .more_content .kard img {
  width: 117px;
  height: 117px;
  border-radius: 50%;
}
body .page_content_text .more_content .kard .text_kard {
  width: 100%;
  padding: 15px 90px 15px 15px;
}
body .page_content_text .more_content .kard .text_kard h3 {
  min-height: 46px;
  font-family: "Ubuntu", serif;
  color: #2D2378;
  font-size: 23px;
  font-weight: 700;
  margin-bottom: 24px;
}
body .page_content_text .more_content .kard .text_kard button {
  width: 100%;
  height: 49px;
  font-family: "Ubuntu", serif;
  font-weight: 700;
  line-height: 17px;
  background-color: #6BB547;
  text-transform: uppercase;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
body .page_content_text .more_content .kard .text_kard button:hover {
  background-color: #3BAD29;
}
body .footer_banner {
  width: 100%;
  height: 448px;
  background-color: #01001a;
  background-image: url("../../image/farmed-animal/chicks.jpg");
  background-repeat: no-repeat;
  background-size: 855px;
  position: relative;
}
body .footer_banner::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #f000 0, #1500ff00 40%, #01001a 60%);
}
body .footer_banner .text_footer {
  width: 500px;
  height: 352px;
  margin-left: 712px;
  padding: 48px 0;
  position: relative;
  z-index: 1;
}
body .footer_banner .text_footer h2 {
  font-family: "Lilita One", sans-serif;
  font-size: 35px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 32px;
  line-height: 40px;
}
body .footer_banner .text_footer button {
  padding: 16px 24px;
  font-family: "Ubuntu", serif;
  font-weight: 700;
  font-size: 14px;
  color: #2d2378;
  border: none;
  border-radius: 5px;
  background-color: #ffde00;
  cursor: pointer;
  margin-bottom: 24px;
}
body .footer_banner .text_footer button:hover {
  background-color: #FFC800;
  color: #fff;
}
body .footer_banner .text_footer p {
  color: white;
  font-family: "Ubuntu", serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}
body footer {
  height: 288px;
  padding-bottom: 48px;
  background-color: #313141;
  display: flex;
  justify-content: space-around;
}
body footer .box {
  max-width: 1000px;
  display: flex;
}
body footer .box .footerbox1 {
  width: 333px;
  height: 100%;
  padding-top: 24px;
  padding-left: 15px;
}
body footer .box .footerbox1 .menu li {
  list-style: none;
  display: inline;
  margin-right: 15px;
}
body footer .box .footerbox1 .menu li a {
  font-family: "Ubuntu", serif;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
}
body footer .box .footerbox1 .menu li a:hover {
  color: #6BB547;
}
body footer .box .footerbox1 .adress {
  margin-top: 123px;
  margin-bottom: 16px;
}
body footer .box .footerbox1 .adress li {
  font-family: "Ubuntu", serif;
  font-size: 11px;
  font-weight: 400;
  color: white;
  line-height: 14.4px;
}
body footer .box .footerbox1 p {
  font-family: "Ubuntu", serif;
  font-size: 8px;
  font-weight: 400;
  color: white;
}
body footer .box .footerbox2 {
  width: 333px;
  height: 100%;
  display: flex;
  justify-content: center;
}
body footer .box .footerbox2 a {
  width: 32px;
  height: 32px;
  display: inline-block;
  background-size: cover;
  background-position: center;
  margin-top: 165px;
  margin-right: 7px;
  opacity: 70%;
}
body footer .box .footerbox2 a:hover {
  opacity: 100%;
}
body footer .box .footerbox2 a.icon_facebook {
  background-image: url("../../image/icons-social-facebook.png");
}
body footer .box .footerbox2 a.icon_twitter {
  background-image: url("../../image/icons-social-twitter.png");
}
body footer .box .footerbox2 a.icon_instagram {
  background-image: url("../../image/icons-social-instagram.png");
}
body footer .box .footerbox3 {
  width: 220px;
  height: 100%;
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  margin-left: 110px;
  justify-content: space-between;
}
body footer .box .footerbox3 p {
  font-family: "Ubuntu", serif;
  font-weight: 400;
  font-size: 12px;
  color: white;
  text-align: center;
  margin-bottom: 16px;
  line-height: 14.5px;
}
body footer .box .footerbox3 p span {
  color: #FFDE00;
  display: block;
  line-height: 14.5px;
}
body footer .box .footerbox3 button {
  width: 100%;
  height: 46.8px;
  border-radius: 5px;
  background-color: #FFDE00;
  border: none;
  font-family: "Ubuntu", serif;
  font-size: 12px;
  font-weight: 400;
  color: #2D2378;
  cursor: pointer;
}
body footer .box .footerbox3 button:hover {
  color: white;
  background-color: #FFC800;
}
body footer .box .footerbox3 .content_footer {
  height: 200px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}
body footer .box .footerbox3 .content_footer a {
  font-family: "Ubuntu", serif;
  color: rgba(255, 255, 255, 0.38);
  text-decoration: none;
}
body footer .box .footerbox3 .content_footer a:hover {
  color: white;
}
body footer .box .footerbox3 .content_footer .designerwith {
  font-size: 8px;
  margin-right: 29px;
  margin-bottom: 2px;
}
body footer .box .footerbox3 .content_footer .designerwith span {
  font-size: 10px;
  margin-bottom: 16px;
  display: block;
  padding-top: 2px;
}
body footer .box .footerbox3 .content_footer .return {
  margin-bottom: 45px;
  font-size: 14px;
}
body footer .box .footerbox3 .social {
  position: fixed;
  bottom: 54px;
  left: 0;
  z-index: 2;
}
body footer .box .footerbox3 .social a {
  width: 38px;
  height: 32px;
  display: block;
  background-size: cover;
}
body footer .box .footerbox3 .social .facebook {
  background-image: url("../../image/icons-share-facebook.png");
  border-top-right-radius: 10px;
}
body footer .box .footerbox3 .social .twitter {
  background-image: url("../../image/icons-share-twitter.png");
}

/*# sourceMappingURL=farmed-animal.css.map */
