/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, divasfasf, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body header {
  width: 100%;
  height: 63px;
  background-color: #313141;
  position: fixed;
  z-index: 1;
}
body header .content {
  max-width: 1000px;
  height: 50px;
  padding-top: 13px;
  margin: auto;
  display: flex;
}
body header .content .logo {
  min-width: 130px;
  background: #e6f3e5 url("../image/ida-logo.svg") no-repeat center;
  background-size: 114px;
  border-radius: 5px 5px 0 0;
  margin-bottom: 1px;
}
body header .content .menu_vertical_bar_right {
  margin-left: 159px;
}
body header .content .menu_vertical_bar_right ul {
  display: flex;
}
body header .content .menu_vertical_bar_right ul li {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 5px;
  margin-top: 10px;
  cursor: pointer;
}
body header .content .menu_vertical_bar_right ul li a {
  white-space: nowrap;
  color: white;
  text-decoration: none;
  transition: all 0.2s ease-in;
}
body header .content .menu_vertical_bar_right ul li a.active {
  color: #77b077;
  padding-bottom: 5px;
  border-bottom: 2px solid #77b077;
}
body header .content .menu_vertical_bar_right ul li a:hover, body header .content .menu_vertical_bar_right ul li a:active {
  color: #77b077;
}
body header .content .menu_vertical_bar_right ul li a:active {
  padding-bottom: 5px;
  border-bottom: 2px solid #77b077;
}
body header .content .donate {
  min-width: 105px;
  color: #053f05;
  background-color: #ffd322;
  text-decoration: none;
  border-radius: 5px 5px 0px 0px;
  cursor: pointer;
  margin-left: 15px;
  font-weight: 700;
  border: none;
  transition: all 0.2s ease-in;
}
body header .content .donate:hover {
  color: #e6f3e5;
  background-color: #fcb926;
}
body header .content .search {
  min-width: 20px;
  margin-left: 15px;
  background-image: url("../image/search.svg");
  border: none;
  background-repeat: no-repeat;
  background-size: 19px;
  background-position: center;
  background-color: inherit;
  cursor: pointer;
}
body .banner .nav1, body .banner .nav2 {
  width: 100%;
  height: 60px;
  background-color: #6BB547;
}
body .banner .nav1 {
  border-top: 0.7px solid white;
  padding-top: 63px;
}
body .banner .nav1 ul {
  display: flex;
}
body .banner .nav1 ul li {
  list-style: none;
  display: flex;
  justify-content: space-around;
  color: #e6f3e5;
  margin: 0 auto;
}
body .banner .nav1 ul li a {
  color: #e6f3e5;
  text-decoration: none;
  padding: 1.2rem 0rem 0.15rem 0rem;
}
body .banner .nav1 ul li a:hover {
  color: black;
}
body .banner .nav2 ul {
  display: flex;
}
body .banner .nav2 ul li {
  list-style: none;
  display: flex;
  justify-content: space-around;
  color: #e6f3e5;
  margin-right: 15px;
}
body .banner .nav2 ul li a {
  color: #e6f3e5;
  text-decoration: none;
  padding: 1.2rem 0rem 0.15rem 0rem;
}
body .banner .nav2 ul li a:hover {
  color: black;
}
body .banner .image_banner {
  width: 100%;
  height: 356px;
  background-color: yellow;
  background-image: url("../image/community-cats-campaign-hero-resized-9.9.19.56da5a781b18cbbe581ae2cb54edcb93.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  background-position-y: -50px;
}
body .banner .image_banner::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(rgba(180, 180, 180, 0), rgba(180, 180, 180, 0), rgba(6, 6, 14, 0.49));
}
body .banner .image_banner h1 {
  font-weight: bold;
  font-size: 2.75rem;
  color: #e6f3e5;
  margin-bottom: 0.5rem;
  line-height: 2.93rem;
  padding-left: 0.9375rem;
  position: absolute;
  bottom: 3.5rem;
  left: 50%;
  margin-left: -31.25rem;
  z-index: 2;
}

/*# sourceMappingURL=style.css.map */
