@import 'reset';
@import 'fonts/ubuntu';
@import 'fonts/lilia-one';
@import "mixins/header";
@import "mixins/banner";
@import "mixins/content_row.scss";
@import "mixins/how_help.scss";
@import "mixins/tree_images_squear_slider.scss";
@import "mixins/foter_banner";
@import "mixins/login";



body {
  padding-top: 63px;

  .title {
    font-family: 'Ubuntu', serif;
    font-size: 40px;
    font-weight: 700;
    color: #2C2278;
    border-bottom: 2px solid #2C2278;
    padding-bottom: 10px;
    line-height: 54px;
    margin-bottom: 44px;

  }

  .content_help {
    display: flex;
    justify-content: space-between;
  }

  .button {
    font-family: 'Ubuntu', serif;
    font-size: 14px;
    font-weight: 700;
    padding: 16px 24px;
    color: rgb(45, 35, 120);
    border-radius: 5px;
    border: none;
    background-color: #FFDE00;
    display: block;
    margin: auto;
    cursor: pointer;
    text-transform: uppercase;

    &:hover {
      background-color: #FFC800;
      color: #fff;
    }
  }

  .card {
    width: 320px;
    padding: 0 4px;
  }

  .img {
    width: 200px;
    margin: 0 60px;
    margin-bottom: 28px;
  }


  @include header();
  @include banner("../../image/elephant/eleph.jpg");

  @include content_row;
  @include how_help;

  .how_help {


    .content_help {

      .card {

        img {
          border-radius: 50%;
        }
        h4 {
          min-height: 84px;
        }
      }
    }
  }

  @include tree_images_squear_slider;

  .tree_images_squear_slider {
    margin-bottom: 60px;

    &.take_action {

      .content_help {

        .img1 {
          background-image: url("../image/elephant/blogextra-combo-thandi-elephant.jpg");
        }

        .img2 {
          background-image: url("../image/elephant/blogmain-bubbles.jpg");
        }

        .img3 {
          background-image: url("../image/elephant/blogmain-two-elephants.jpg");
        }
      }
    }

    &.discover_more {
      .content_help {

        .img1 {
          background-image: url("../image/elephant/blogextra-combo-thandi-elephant.jpg");
        }

        .img2 {
          background-image: url("../image/elephant/discover_2img.jpg");
        }

        .img3 {
          background-image: url("../image/elephant/blogmain-two-elephants.jpg");
        }
      }
    }

  }

  @include footerBanner("../../image/elephant/footer_banner_elephant.png");

  .footer_banner {
    height: 544px;
    background-size: 1100px;
    background-position-x: -97px;

    &::after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(to right, #f000 0, #0f0b75 60%);
    }

    .text_footer {
      padding-top: 146px;

      p {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 16px;
      }

      button {
        margin-top: 24px;
      }
    }

  }

  @include login;

  .login{
    background-image: url("../image/elephant/login.png");
    background-size: 1000px;
  }


  }




