@import 'reset';
@import 'fonts/ubuntu';
@import 'fonts/lilia-one';

body {
  padding-top: 63px;

  header {
    width: 100%;
    height: 63px;
    background-color: #313141;
    position: fixed;
    z-index: 2;
    top: 0;

    .content {
      max-width: 1000px;
      height: 50px;
      padding-top: 13px;
      margin: auto;
      display: flex;


      .logo {
        min-width: 130px;
        background: #fff url("../image/ida-logo.svg") no-repeat center;
        background-size: 114px;
        border-radius: 5px 5px 0 0;
        margin-bottom: 1px;
        margin-left: 16px;
      }

      .menu_vertical_bar_right {
        margin-left: 140px;

        ul {
          display: flex;

          li {
            list-style: none;
            display: flex;
            justify-content: space-around;
            padding-right: 16px;
            margin-top: 10px;
            cursor: pointer;

            a {
              font-family: 'Ubuntu', serif;
              font-size: 14px;
              font-weight: 700;
              white-space: nowrap;
              color: white;
              text-decoration: none;
              transition: all .2s ease-in;

              &.active {
                color: #77b077;
                padding-bottom: 5px;
                border-bottom: 2px solid #77b077;
              }

              &:hover, &:active {
                color: #77b077;
              }

              &:active {
                padding-bottom: 5px;
                border-bottom: 2px solid #77b077;
              }

            }
          }
        }
      }

      .donate {
        min-width: 105px;
        color: #2D2378;
        background-color: #FFDE00;
        text-decoration: none;
        border-radius: 5px 5px 0px 0px;
        cursor: pointer;
        margin-left: 15px;
        font-weight: 700;
        border: none;
        transition: all .2s ease-in;

        &:hover {
          color: #e6f3e5;
          background-color: #FFC800;
        }
      }

      .search {
        min-width: 20px;
        margin-left: 15px;
        background-image: url("../image/search.svg");
        border: none;
        background-repeat: no-repeat;
        background-size: 19px;
        background-position: center;
        background-color: inherit;
        cursor: pointer;
      }
    }
  }

  .banner {
    .nav1, .nav2 {
      width: 100%;
      height: 60px;
      background-color: #6BB547;
    }

    .nav1 {
      border-top: 0.7px solid white;

      ul {
        display: flex;

        li {
          list-style: none;
          display: flex;
          justify-content: space-around;
          color: #e6f3e5;
          margin: 0 auto;

          a {
            color: #e6f3e5;
            text-decoration: none;
            padding: 1.2rem 0rem 0.15rem 0rem;

            &:hover {
              color: #313141;
            }
          }
        }
      }
    }

    .nav2 {

      ul {
        display: flex;
        margin-left: 15px;

        li {
          list-style: none;
          display: flex;
          justify-content: space-around;
          color: #e6f3e5;
          margin-right: 15px;

          a {
            color: #e6f3e5;
            text-decoration: none;
            padding: 1.2rem 0rem 0.15rem 0rem;

            &:hover {
              color: #313141;
            }
          }
        }
      }


    }

    .image_banner {
      width: 100%;
      height: 356px;
      background-color: yellow;
      background-image: url("../image/community-cats-campaign-hero-resized-9.9.19.56da5a781b18cbbe581ae2cb54edcb93.jpg");
      background-repeat: no-repeat;
      background-size: 100%;
      position: relative;
      background-position-y: -50px;

      &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background: linear-gradient(rgba(180, 180, 180, 0), rgba(180, 180, 180, 0), rgba(6, 6, 14, 0.49));
      }

      h1 {
        font-weight: 400;
        font-family: "Lilita One", sans-serif;
        font-size: 44px;
        color: #fff;
        margin-bottom: 0.5rem;
        line-height: 2.93rem;
        padding-left: 0.9375rem;
        position: absolute;
        bottom: 3.5rem;
        left: 50%;
        margin-left: -31.25rem;
        z-index: 1;
      }
    }

  }

  .text {
    width: 100%;
    height: 236px;
    padding: 75px 0;

    .text_in {
      width: 970px;
      height: 220px;
      padding: 0 15px;
      margin: auto;

      h2 {
        height: 48px;
        color: #2D2378;
        font-family: 'Ubuntu', serif;
        font-weight: 700;
        font-size: 40px;
        padding-bottom: 28px;
        margin-bottom: 8px;

      }

      p {
        font-size: 16px;
        font-weight: 400;
        font-family: 'Ubuntu', serif;
        color: rgb(68, 68, 68);
        line-height: 24px;
        margin-bottom: 16px;

      }
    }

  }

  .footer_banner {
    width: 100%;
    height: 448px;
    background-color: rgb(1, 0, 26);
    background-image: url("../image/baby_cat_1799835_640.adb0be869894bed5411020cb98d292f5.jpg");
    background-repeat: no-repeat;
    background-size: 855px;
    position: relative;

    &::after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(to right, #f000 0, #1500ff00 40%, #01001a 60%);
    }

    .text_footer {
      width: 500px;
      height: 352px;
      margin-left: 712px;
      padding: 48px 0;
      position: relative;
      z-index: 1;

      h2 {
        font-family: 'Lilita One', sans-serif;
        font-size: 35px;
        font-weight: 400;
        color: #fff;
        margin-bottom: 32px;
      }

      button {
        padding: 16px 24px;
        font-family: 'Ubuntu', serif;
        font-weight: 700;
        font-size: 14px;
        color: rgb(45, 35, 120);
        border: none;
        border-radius: 5px;
        background-color: rgb(255, 222, 0);
        cursor: pointer;
        margin-bottom: 24px;

        &:hover {
          background-color: #FFC800;
          color: #fff;
        }

      }

      p {
        color: rgb(255, 255, 255);
        font-family: 'Ubuntu', serif;
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
      }
    }
  }

  footer {
    height: 288px;
    padding-bottom: 48px;
    background-color: #313141;
    display: flex;
    justify-content: space-around;

    .box {
      max-width: 1000px;
      display: flex;

      .footerbox1 {
        width: 333px;
        height: 100%;
        padding-top: 24px;
        padding-left: 15px;

        .menu {

          li {
            list-style: none;
            display: inline;
            margin-right: 15px;

            a {
              font-family: 'Ubuntu', serif;
              font-size: 12px;
              font-weight: 400;
              color: #fff;
              text-decoration: none;

              &:hover {
                color: #6BB547;
              }
            }
          }
        }

        .adress {
          margin-top: 123px;
          margin-bottom: 16px;

          li {
            font-family: 'Ubuntu', serif;
            font-size: 11px;
            font-weight: 400;
            color: white;
            line-height: 14.4px;

          }
        }

        p {
          font-family: 'Ubuntu', serif;
          font-size: 8px;
          font-weight: 400;
          color: white;
        }

      }

      .footerbox2 {
        width: 333px;
        height: 100%;
        display: flex;
        justify-content: center;

        a {
          width: 32px;
          height: 32px;
          display: inline-block;
          background-size: cover;
          background-position: center;
          margin-top: 165px;
          margin-right: 7px;
          opacity: 70%;

          &:hover {
            opacity: 100%;
          }

          &.icon {
            &_facebook {
              background-image: url("../image/icons-social-facebook.png");
            }

            &_twitter {
              background-image: url("../image/icons-social-twitter.png");
            }

            &_instagram {
              background-image: url("../image/icons-social-instagram.png");
            }
          }
        }
      }

      .footerbox3 {
        width: 220px;
        height: 100%;
        padding-top: 24px;
        display: flex;
        flex-direction: column;
        margin-left: 110px;
        justify-content: space-between;

        p {
          font-family: 'Ubuntu', serif;
          font-weight: 400;
          font-size: 12px;
          color: white;
          text-align: center;
          margin-bottom: 16px;

          span {
            color: #FFDE00;
            display: block;
          }

        }

        button {
          width: 100%;
          height: 46.8px;
          border-radius: 5px;
          background-color: #FFDE00;
          border: none;
          font-family: 'Ubuntu', serif;
          font-size: 12px;
          font-weight: 400;
          color: #2D2378;
          cursor: pointer;

          &:hover {
            color: white;
            background-color: #FFC800;
          }
        }

        .content_footer {
          height: 200px;
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
          flex-direction: column;

          a {
            font-family: 'Ubuntu', serif;
            color: rgba(255, 255, 255, 0.38);
            text-decoration: none;

            &:hover {
              color: white;
            }
          }

          .designerwith {
            font-size: 8px;
            margin-right: 29px;
            margin-bottom: 2px;

            span {
              font-size: 10px;
              margin-bottom: 16px;
              display: block;
              padding-top: 2px;
            }
          }

          .return {
            margin-bottom: 45px;
            font-size: 14px;
          }
        }

        .social {
          position: fixed;
          bottom: 54px;
          left: 0;
          a {
            width: 38px;
            height: 32px;
            display: block;
            background-size: cover;
          }

          .facebook {
            background-image: url("../image/icons-share-facebook.png");
            border-top-right-radius: 10px;
          }

          .twitter {
            background-image: url("../image/icons-share-twitter.png");

          }


        }

      }

    }
  }

}

