@import 'reset';

body {

  header {
    width: 100%;
    height: 63px;
    background-color: #313141;
    position: fixed;
    z-index: 1;

    .content {
      max-width: 1000px;
      height: 50px;
      padding-top: 13px;
      margin: auto;
      display: flex;

      .logo {
        min-width: 130px;
        background: #e6f3e5 url("../image/ida-logo.svg") no-repeat center;
        background-size: 114px;
        border-radius: 5px 5px 0 0;
        margin-bottom: 1px;
      }
      .menu_vertical_bar_right {
        margin-left: 159px;

        ul {
          display: flex;

          li {
            list-style: none;
            display: flex;
            justify-content: space-around;
            padding: 5px;
            margin-top: 10px;
            cursor: pointer;

            a {
              white-space: nowrap;
              color: white;
              text-decoration: none;
              transition: all .2s ease-in;

              &.active {
                color: #77b077;
                padding-bottom: 5px;
                border-bottom: 2px solid #77b077;
              }

              &:hover, &:active {
                color: #77b077;
              }

              &:active{
                padding-bottom: 5px;
                border-bottom: 2px solid #77b077;
              }

            }
          }
        }
      }

      .donate {
        min-width: 105px;
        color: #053f05;
        background-color: #ffd322;
        text-decoration: none;
        border-radius: 5px 5px 0px 0px;
        cursor: pointer;
        margin-left: 15px;
        font-weight: 700;
        border: none;
        transition: all .2s ease-in;

        &:hover {
          color: #e6f3e5;
          background-color: #fcb926;
        }
      }

      .search {
        min-width: 20px;
        margin-left: 15px;
        background-image: url("../image/search.svg");
        border: none;
        background-repeat: no-repeat;
        background-size: 19px;
        background-position: center;
        background-color: inherit;
        cursor: pointer;
      }
    }
  }

  .banner {
    .nav1, .nav2 {
      width: 100%;
      height: 60px;
      background-color: #6BB547;
    }
    .nav1 {
      border-top: 0.7px solid white;
      padding-top: 63px;

      ul {
        display: flex;
        li {
          list-style: none;
          display: flex;
          justify-content: space-around;
          color: #e6f3e5;
          margin: 0 auto;

          a {
            color: #e6f3e5;
            text-decoration: none;
            padding: 1.2rem 0rem 0.15rem 0rem;

            &:hover {
              color: black;
            }
          }
        }
      }
    }

    .nav2 {

      ul {
        display: flex;
        li {
          list-style: none;
          display: flex;
          justify-content: space-around;
          color: #e6f3e5;
          margin-right: 15px;

          a {
            color: #e6f3e5;
            text-decoration: none;
            padding: 1.2rem 0rem 0.15rem 0rem;

            &:hover {
              color: black;
            }
          }
        }
      }


    }
    .image_banner {
      width: 100%;
      height: 356px;
      background-color: yellow;
      background-image: url("../image/community-cats-campaign-hero-resized-9.9.19.56da5a781b18cbbe581ae2cb54edcb93.jpg");
      background-repeat: no-repeat;
      background-size: 100%;
      position: relative;
      background-position-y: -50px;

      &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background: linear-gradient(rgba(180, 180, 180, 0), rgba(180, 180, 180, 0), rgba(6, 6, 14, 0.49));
      }

      h1 {
        font-weight: bold;
        font-size: 2.75rem;
        color: #e6f3e5;
        margin-bottom: 0.5rem;
        line-height: 2.93rem;
        padding-left: 0.9375rem;
        position: absolute;
        bottom: 3.5rem;
        left: 50%;
        margin-left: -31.25rem;
        z-index: 2;
      }
    }
  }
}
