@mixin footerBanner($url) {

  .footer_banner {
    width: 100%;
    height: 448px;
    background-color: rgb(1, 0, 26);
    background-image: url($url);
    background-repeat: no-repeat;
    background-size: 855px;
    position: relative;

    &::after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(to right, #f000 0, #1500ff00 40%, #01001a 60%);
    }

    .text_footer {
      width: 500px;
      margin-left: 712px;
      padding: 48px 0;
      position: relative;
      z-index: 1;

      h2 {
        font-family: 'Lilita One', sans-serif;
        font-size: 35px;
        font-weight: 400;
        color: #fff;
        margin-bottom: 32px;
        line-height: 40px;
      }

      button {
        padding: 16px 24px;
        font-family: 'Ubuntu', serif;
        font-weight: 700;
        font-size: 14px;
        color: rgb(45, 35, 120);
        border: none;
        border-radius: 5px;
        background-color: rgb(255, 222, 0);
        cursor: pointer;
        margin-bottom: 24px;
        text-transform: uppercase;

        &:hover {
          background-color: #FFC800;
          color: #fff;
        }

      }

      p {
        color: rgb(255, 255, 255);
        font-family: 'Ubuntu', serif;
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
      }
    }
  }
}