@mixin page_content_text() {
  .page_content_text {
    width: 100%;
    padding: 75px 0;

    .text_in {
      width: 970px;
      padding: 0 15px;
      margin: auto;

      h2 {
        color: #2D2378;
        font-family: 'Ubuntu', serif;
        font-weight: 700;
        font-size: 40px;
        padding-bottom: 28px;
        margin-bottom: 8px;

      }

      p {
        font-size: 16px;
        font-weight: 400;
        font-family: 'Ubuntu', serif;
        color: rgb(68, 68, 68);
        line-height: 24px;
        margin-bottom: 16px;

      }
    }

  }
}