@mixin title_dog {
  .can_do {
    height: 600px;
    padding: 50px 197.500px;
    margin-bottom: 110px;

    .titl {
      display: flex;
      justify-content: space-between;
      margin-top: 50px;

      h3 {
        font-family: 'Ubuntu', serif;
        font-size: 36px;
        font-weight: 700;
        color: #2C2278;
        padding-bottom: 10px;
        line-height: 50px;
        margin-bottom: 30px;
      }
      a{
        color: #6BB547;
        text-decoration: none;
        font-family: 'Ubuntu', serif;
        font-size: 16px;
        font-weight: 400;

      }
    }

    .content_help {

      .card {
        border: 1px solid #f3f3f3;
        height: 520px;
        padding: 0;

        p {
          height: 78px;
          text-align: left;
          font-family: 'Ubuntu', serif;
          font-size: 16px;
          font-weight: 700;
          color: #2C2278;
          line-height: 26px;
          margin-left: 26px;
          margin-bottom: 50px;
        }

        h4 {
          font-family: 'Ubuntu', serif;
          font-size: 14px;
          font-weight: 400;
          font-style: italic;
          color: #2C2278;
          text-transform: uppercase;
          margin: 26px;

        }

        .img1, .img2, .img3 {
          width: 320px;
          height: 248px;
          background-size: cover;
        }

        .img1 {
          background-image: url("../../image/dog_meat/blogmain-korean-dog.jpg");
        }

        .img2 {
          background-image: url("../../image/dog_meat/blog-cage3.jpg");
        }

        .img3 {
          background-image: url("../../image/dog_meat/blogbali..jpg");
        }

        button {
          font-family: 'Ubuntu', serif;
          font-size: 14px;
          font-weight: 700;
          padding: 16px 24px;
          border-radius: 5px;
          border: none;
          background-color: #FFDE00;
          display: block;
          cursor: pointer;
          margin-left: 148px;
          text-transform: uppercase;
        }
      }

    }


  }
}